*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.animated-search-bar{
    display: flex;
    align-items: center;
    width: max-content;
    /* border-radius: 0.5rem; */
    /* border: 2px solid rgb(0, 0, 0); */
    padding-left: 0.5rem;
}
.animated{
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    background-color: rgb(233, 176, 70);
    border-radius: 0.5rem;
    border: 2px solid black;
    padding: 0px 0.5rem 0px 0px;
}
.animated div{
    height: 100%;
    width: 100%;
    background-color: white;
}
.magnifier{
    padding-right: 0.5rem;
    font-size: 1.3rem;
    
    
}
.animated .input{
    line-height: 1rem;
    padding: 0.5rem;
    border-right: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    border-top-right-radius: 0px;
    border-bottom-right-radius:0px ;
}
 .mic-icon{
    font-size: 1.3rem;
    padding-left: 0.5rem;
 }
.opacityhover{
   opacity: 0.8;

}
.opacityhover:hover{
    opacity: 1;
    cursor: pointer;
}